body{
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul{
    list-style-type: none;
}
.section1{
    width: 1440px;
    height: 600px;
    top: 72px;
    background-color: #2E2F42;
}
.section1 .title1{
    color: #fff;
}
.section3{
    background-color: #F4F4FD;
}
.footer{
    background-color: #2E2F42;
}
.nav-logo,
.footer-logo{
    color: #4D5AE5;
}
.logo1{
    color: #2E2F42;
}
.logo2{
    color: #fff;
}
.title-footer{
    color: #fff;
}
.button{
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
}
.text-button{
    color: #fff;
}
.footer-logo .logo2{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-logo .logo1{
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
